{
    "WSS_SECRET": "XXXXXXXXXXXXXXXXXXXXXXX",
    "WSS_PORT": 8080,
    "BOT_TOKEN": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
    "CHANNEL_ID": "XXXXXXXXXXXXXXXXXX",
    "WEBHOOK": "https://discord.com/api/webhooks/XXXXXXXXXXXXXX/XXXXXXXXXXXXXXXXXXXXXXXXXXXX"
}
